.home-container {
  min-height: 100%;
  background: #ffffff;
}

.hero {
  display: flex;
  align-items: center;  
  justify-content: center;
}

.logo {
  width: clamp(500px, 900px);
  max-width: 100%;
}